@import '../../../scss/global/all';

.Input {
  @extend %flex;
  @include flex-direction(column);
  margin-bottom: 1rem;
  > label {
    margin-bottom: 0.25rem;
    font-size: 1rem;
  }
  > input {
    padding: .5rem;
    font-size: 1rem;
    font-family: $font-family;
    background-color: $white;
    border: 2px solid $white;
    border-radius: .25rem;
  }
  .error-message {
    display: none;
  }
  &.primary {
    background-color: transparent;
    color: $primaryColor;
  }
  &.error {
    > input {
      margin-bottom: .25rem;
      border-color: $danger;
      color: $danger;
    }
    .error-message {
      display: none;
    }
  }
}