@import '../../../scss/global/all';

.Message {
  > small {
    display: block;
    color: shade($white, 15%);
    font-size: .9rem;
    margin-bottom: .25rem;
  }
  > p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}